Body{
    font-family: 'Roboto', sans-serif;
    background-color:rgb(3, 44, 3);
    }
    
    .header{
        max-width: 1170px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .nav-item{
        list-style-type: none;
        padding-left: 0;
        margin: 0;
        display: flex;
        &-item{
            margin-left: 15px;
        }
        .fox_img{
position: absolute;
width: 1440px;
height: 780px;
left: 0px;
top: -1px;
filter: drop-shadow(-150px 0px 150px #02160B);
border-radius: 0px;

        }
    }
    
    
    
    
     
    
    