$dark: #faf4f4;
$light: #e5e5e5;

body {
  font-family: "Roboto", sans-serif;
  color: $dark;
  width: 1440px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  background: #cccccc;
}

body
html {
  height: 100vh;
}

.header{
position: absolute;
width: 1440px;
height: 780px;
left: 0px;
top: -1px;
filter: drop-shadow(-150px 0px 150px #02160B);
border-radius: 0px;
}
.fox_img {
  position: absolute;
  width: 1440px;
  height: 780px;
  left: 0px;
  top: 0px;
  right: 0;
  background-image: url(../img/fox.png);
}
.horns {
  position: absolute;
  left: 5%;
  right: 1.04%;
  top: 2%;
  bottom: 1.28%;
}
.nav {
  position:absolute;
  text-align: left;
  list-style-type: none;
  padding-left: 700px;
  padding-top: 35px;
  margin: 0px;
  display: flex;
  font-size: 22px;
  font-family: Open Sans;
  color: #f7f7f7;
  font-style: normal;
  font-weight: normal;
  .nav-item {
    margin-left: 80px;
  }
  .nav-link {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid $dark;
    transition: 0.3s;
  }
}
.lypa{
position: absolute;
left: 1070px;
right: 14.65%;
top: 37px;
bottom: 14.65%;

}
.text-1 {
  position: absolute;
  width: 155px;
  height: 60px;
  left: 80px;
  top: 2px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 60px;
  color: #ffffff;
}

.sign-in {
  position: absolute;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  color: #ffffff;
  padding: 15px 32px;
  left: 1190px;
  top: 20px;
  border: 2px solid #cd6326;
  box-sizing: border-box;
  border-radius: 5px;
  background: none;
}
.text-2 {
  position: absolute;
  width: 199px;
  height: 72px;
  left: 40px;
  top: 70px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 2px;
  color: #cd6326;
}

.text-3 {
  position: absolute;
  width: 274px;
  height: 108px;
  left: 80px;
  top: 300px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #f7f7f7;
}
.donate {
  position: absolute;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  color: #f7f7f7;
  padding: 15px 32px;
  left: 80px;
  top: 550px;
  background: #cd6326;
  border-radius: 5px;
}
.main{
  position: absolute;
  width: 1440px;
  height: 1368px;
  left: 0px;
  top: 0px;
  border-radius: 0px;}

.text-4 {
  position: absolute;
  width: 324px;
  height: 72px;
  left: 570px;
  top: 1000px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  color: #333333;
}
.text-5 {
  position: absolute;
  width: 332px;
  height: 36px;
  left: 570px;
  top: 1100px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #666666;
}
.deer {
  position: absolute;
  width: 300px;
  height: 360px;
  left: 150px;
  top: 1350px;
  border-radius: 0px;
}
.protein {
  position: absolute;
  width: 300px;
  height: 360px;
  left: 500px;
  top: 1350px;
  border-radius: 0px;
}
.bird {
  position: absolute;
  width: 300px;
  height: 360px;
  left: 850px;
  top: 1350px;
  border-radius: 0px;
}
.text-6 {
  position: absolute;
  width: 82px;
  height: 36px;
  left: 180px;
  top: 1600px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  color: #ffffff;
  text-align: center;
  display: flex;
}
.text-7 {
  position: absolute;
  width: 82px;
  height: 36px;
  left: 550px;
  top: 1600px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  text-align: center;
  color: #f7f7f7;
  display: flex;
}

.text-8 {
  position: absolute;
  width: 43px;
  height: 36px;
  left: 930px;
  top: 1600px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  color: #f7f7f7;
  display: flex;
  text-align: center;
}

.text-9 {
  position: absolute;
  width: 526px;
  height: 41px;
  left: 400px;
  top: 1900px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 40px;
  text-align: center;

  color: #333333;
}
.arrow{
position: absolute;
left: 2%;
right: 6.7%;
top: 110%;
bottom: 18.58%;
  }
.arrow_1{
  position: absolute;
left: 85%;
right: 6.7%;
top: 110%;
bottom: 18.58%;
}

.futer{
position: absolute;
width: 1440px;
height: 360px;
left: 0px;
top: 0px;
border-radius: 0px;

}
.foliage {
  position:absolute;
  width:1440px;
  height: 360px;
  left: 0px;
  top: 2300px;
  right: 0;
  background-image: url(../img/foliage.png);
}

.horns-1 {
  position: absolute;
  left: 6%;
  right: 1.04%;
  top: 2460px;
  bottom: 1.28%;
}
input {
  position: absolute;
  display: inline-block;
  font-size: 23px;
  box-sizing: border-box;
  transition: 0.5s;
  left: 325px;
  top: 2000px;
}
.mail[type="text"] {
  background: #ffffff;
  width: 540px;
  height: 60px;
  padding: 0 25px;
}
.mail_1[type="submit"] {
  position: absolute;
  left: 860px;
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #cd6326;
  width: 120px;
  height: 60px;
  border: none;
  outline: none;
  cursor: pointer;
  background: rgba(205, 99, 38, 1);
  color: rgb(255, 255, 255);
}
.text-10 {
  position: absolute;
  width: 155px;
  height: 60px;
  left: 170px;
  top: 2440px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 60px;
  /* font-light */
  color: #ffffff;
}

.nav_1 {
  position: absolute;
  list-style-type: none;
  padding-left: 400px;
  padding-top: 2430px;
  display: flex;
  font-size: 22px;
  line-height: 60px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  .nav-item_1 {
    margin-left: 70px;
  }
  .nav-link_1 {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid $dark;
    transition: 0.3s;
  }
}
.FB{
border-radius: 20px;
position: absolute;
left: 121%;
right: 33.33%;
top: 98%;
bottom: 16.67%;

}
.inst{
border-radius: 20px;
position: absolute;
left: 128%;
right: 33.33%;
top: 98%;
bottom: 16.67%;
}
.piko{
  border-radius: 20px;
  position: absolute;
  left: 135%;
  right: 33.33%;
  top: 98%;
  bottom: 16.67%;
}
.tel{
  border-radius: 20px;
  position: absolute;
  left: 142%;
  right: 33.33%;
  top: 98%;
  bottom: 16.67%;
}

